<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
        h1 {
            color: blue;
            font-size: medium;
        }
        input {
            width: 500px;
            height: 100px;
            color: aqua;
            background-color: blue;
        }
    </style>
</head>
<body>
    <h1>Your username:</h1>
    <input type="text" placeholder="username">
    <h1>Your password:</h1>
    <input type="text" placeholder="password">
    <h1>Your email:</h1>
    <input type="text" placeholder="email">
</body>
</html>